.settings-hotkey
  display flex
  align-items center
  margin-bottom 8px

.settings-hotkey-blocks
  display flex
  user-select none

.settings-hotkey-title
  text-transform uppercase
  margin-right 8px

.settings-hotkey-block
  text-transform uppercase
  padding 4px 9px
  font-size 12px
  border 1px var(--color-unfocus) solid
  border-radius .4em
  margin-right 8px
