.users-grid
  display grid
  gap 12px
  grid-template-columns repeat(auto-fit, minmax(60px, calc(20% - 12px)))

.settings-user-block
  cursor pointer
  display flex
  padding 12px
  align-items center
  border-radius 12px
  border 1px solid var(--color-unfocus)
  flex-direction column
  justify-content center
  &.active
    border-color var(--color-active)

.settings-user-name
  width 100%
  margin-top 8px
  text-align center
  text-overflow ellipsis
  white-space nowrap
  overflow hidden

.settings-user-image
  border-radius 50%
  width calc(102px / var(--zoom))
  height calc(102px / var(--zoom))
  background-size cover
  background-position center
