.app-button
  padding 6px 8px
  border-radius 8px
  border 1px solid transparent
  cursor pointer
  background var(--color-unfocus)
  display flex
  color black
  align-items center
  justify-content center
  transition: .2s background, .2s border, .2s color
  &:hover
    background var(--color-active)
  &:focus
    border: 1px solid var(--color-active)
    background: none
    outline: none
    color white

.app-button--block
  display: flex;
  flex: 1 0 auto;
  min-width: 100%!important;

.app-button--fab
  padding 4px
  border-radius 12px
  cursor pointer
  background var(--background-block)
  width 40px
  transition border-radius .15s
  height 40px
  &:hover
    background var(--background-block)
    svg
      color white
  svg
    color var(--color-unfocus)
    display block
    transition 0.15s
    margin 0

