@import './bar.styl'
@import './menu.styl'
@import './login.styl'
@import './dialog.styl'
@import './slider.styl'
@import './button.styl'
@import './palette.styl'
@import './shutdown.styl'
@import './selector.styl'
@import './checkbox.styl'
@import './settings/index.styl'
@import './color-selector.styl'
@import './background.styl'

.icon
  width 25px
  height 25px

.center-x
  display flex
  justify-content center

.frame-rate-block
  top calc(var(--gap) + var(--height-bar))
  right var(--gap)
  color white
  font-size 1.1rem
  padding calc(var(--gap) / 2) var(--gap)
  z-index 10
  position absolute
  background var(--background-block)
  border-radius var(--gap)