@import './menu.styl'
@import './login.styl'
@import './slider.styl'
@import './button.styl'
@import './palette.styl'
@import './shutdown.styl'
@import './selector.styl'
@import './checkbox.styl'
@import './settings.styl'
@import './color-selector.styl'
@import './background.styl'

.icon
  width 25px
  height 25px

.center-x
  display flex
  justify-content center

.frame-rate-block
  top 0
  right 0
  color white
  font-size 1.1rem
  padding 6px 12px
  z-index 10
  position absolute
  background var(--background-block)
  border-radius 0 0 0 10px