.fade-enter-active, .fade-leave-active
  transition opacity .3s

.fade-enter, .fade-leave-to
  opacity 0

.fade-menu-enter-active, .fade-menu-leave-active
  transition opacity .1s

.fade-menu-enter, .fade-menu-leave-to
  opacity 0

.fade-content-enter-active
  transition .2s opacity

.fade-content-leave-active 
  transition .1s opacity

.fade-content-enter, .fade-content-leave-active 
  opacity 0

.fade-bottom-enter-active, .fade-bottom-leave-active
  transition .3s

.fade-bottom-leave-active
  position absolute

.fade-bottom-enter, .fade-bottom-leave-to
  transform translateY(20px)
  opacity 0

.fade-bottom-enter-to
  transform translateY(0%)
